html {
  height: 100%;
}

body {
  background-color: #e8ddb5;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:link {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:active {
  color: red;
}

a:hover {
  color: darkblue;
  text-decoration: none;
}
input:focus {
  border: 1px solid #aaa;
}

p,
h1,
.titles {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000000;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: #b2c9ab;
  color: white;
  padding: 20px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: #131515;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar a:hover {
  color: darkblue;
  text-decoration: underline;
}

.resume {
  margin: 20px;
  padding: 20px;
  border-style: double;
  border-color: darkolivegreen;
  border-width: 10px;
}

h2 {
}
h2:after {
  content: " ";
  display: block;
  border: 2px solid black;
}

s

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.about {
  margin: 20px;
  padding: 10px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 4px;
  border-color: darkolivegreen;
  background-color: #d8cda7;
}

.about-image {
  width: "50";
  height: "50";
  padding: 5px;
}

.contact {
  border-style: solid;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 4px;
  border-color: darkolivegreen;
  background-color: #d8cda7;
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
}

.project {
  margin: 10px 10px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 4px;
  border-color: darkolivegreen;
  background-color: #d8cda7;
}
.project:hover {
  color: green;
  background-color: #aea688;
  text-decoration: none;
}

.class {
  padding: 10px;
  border-right: darkolivegreen;
  border-left: darkolivegreen;
  border-style: double;
  border-width: 10px;
  border-top: darkolivegreen;
  border-bottom: darkolivegreen;
  border-top-style: solid;
  border-bottom-style: solid;
}
