html {
  height: 100%;
}

body {
  background-color: #e8ddb5;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a:link {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: purple;
}

a:active {
  color: red;
}

a:hover {
  color: darkblue;
  text-decoration: none;
}
input:focus {
  border: 1px solid #aaa;
}

p,
h1,
.titles {
  margin-bottom: 0;
  font-family: "Lexend", sans-serif;
  color: #000000;
}
.logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #000;
  object-fit: cover;
}

.page-title {
  font-size: 40px;
}
/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: #b2c9ab;
  color: white;
  padding: 3px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: #131515;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar a:hover {
  color: darkblue;
  text-decoration: underline;
}
.logo a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  position: relative;

  font-style: italic;
}

.navbar .logo {
  margin-top: -5px;
}

.resume {
  margin: 20px;
  padding: 20px;
  border-style: double;
  border-color: darkolivegreen;
  border-width: 10px;
}

h2:after {
  content: " ";
  display: block;
  border: 2px solid black;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ddb5;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer img {
  padding: 5px;
  width: 35px;
  height: auto;
}

.about {
  margin: 20px;
  padding: 10px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-width: 10px;
  border-color: darkolivegreen;
  background-color: #d8cda7;
  width: 60%;
}

.about-image {
  align-self: center;
}
.about-image img {
  border: 1px solid #ccc;
  border-radius: 12px;
  border-width: 3px;
  border-color: darkolivegreen;
  width: 250px;
  height: auto;
  padding: 0px;
}

.about-text {
  padding-left: 10px;
  padding-right: 0;
  text-align: left;
  font-size: larger;
  width: 100%;
}

.contact {
  border-style: solid;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 4px;
  border-color: darkolivegreen;
  background-color: #d8cda7;
}

label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  color: darkolivegreen;
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
.contact {
  text-align: center;
}

input[type="submit"] {
  background-color: darkolivegreen;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  flex: 1 1 30%;
  max-width: 30%;
  margin: 20px 5px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 10px;
  border-color: darkolivegreen;
  background-color: #d8cda7;
  box-sizing: border-box;
}
.project img {
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 2px;
  border-color: darkolivegreen;
}

.project-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: left;
}
.project-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
}

.project img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.project:hover {
  color: green;
  background-color: #aea688;
  text-decoration: none;
  transform: scale(1.05);
}
.project-details {
  text-align: center;
}

.year {
  padding: 10px;
  padding-top: 0;
  border-right: darkolivegreen;
  border-left: darkolivegreen;
  border-style: double;
  border-width: 10px;
  border-top: darkolivegreen;
  border-bottom: darkolivegreen;
  border-top-style: solid;
  border-bottom-style: solid;
}

.year img {
  float: right;
  width: 50px;
  position: relative;
  height: auto;
  top: -15px;
}
.year h2:after {
  margin-top: 0;

  display: block;
  font-size: small;
}
.expandable {
  display: none; /* Hide the lists by default */
}
#passwordModal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-right: 5px;
}
.arrow.rotate {
  transform: rotate(90deg);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: darkblue;
  text-decoration: underline;
}

.toggle-header {
  cursor: pointer; /* Change the cursor to indicate it's clickable */
}

.toggle-header:hover {
  color: darkblue;
  text-decoration: underline;
}

.expandable.active {
  display: block; 
}
.new-stuff {
  margin-top: 40px;
  text-align: center;
}

.new-stuff h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.new-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.new-item-gif img {
  border-radius: 8px;
  margin-right: 20px;
}

.new-item-description {
  max-width: 500px;
  text-align: left;
}

.date-log {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}
